*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;

}

body{

background:#090909;
color:white;

}

nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:25px 80px;

background:#111;

position:sticky;

top:0;

}

.logo{

font-size:24px;

font-weight:bold;

}

ul{

display:flex;

gap:35px;

list-style:none;

}

a{

text-decoration:none;

color:white;

}

.hero{

height:90vh;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

text-align:center;

padding:20px;

}

.hero h1{

font-size:70px;

max-width:900px;

line-height:1.2;

}

.hero p{

margin-top:25px;

font-size:24px;

color:#bdbdbd;

line-height:1.8;

}

.buttons{

margin-top:40px;

display:flex;

gap:20px;

}

.yellow{

background:#FFD54F;

color:black;

padding:18px 40px;

border-radius:50px;

font-weight:bold;

}

.black{

border:1px solid #444;

padding:18px 40px;

border-radius:50px;

}
